@import "carousel";



body {
    background: rgb(58, 56, 56);
    color: rgb(175, 167, 155);
}

.container {
    width: 1015px;
    box-sizing: border-box;
    padding: 0 15px;
}


.carousel {
    padding: 81px 0 ;
}